@model Entities.MainModels.DiscountModel


@await Html.PartialAsync("~/Views/Common/_DataTableLength.cshtml")

<table class="table site-table-listing">
    <thead>
        <tr>
            <th id="lbl_hdr_subrId">  ID</th>
          
            <th id="lbl_hdr_subrEmail"> Email</th>
          
            <th id="lbl_hdr_subrCreatedOn"> Created On</th>


            <th class="text-center" style="width: 20px;"><i class="icon-arrow-down12"></i></th>
        </tr>
    </thead>
    <tbody>

        @{
            if (Model != null && Model.SubscribersList != null && Model.SubscribersList.Count > 0)
            {
                foreach (var item in Model.SubscribersList)
                {
                    <tr>
                        <td><span class="text-dark">@item.SubscriptionId</span></td>
                        <td>
                            <div class="d-flex align-items-center">
                                <div>
                                    <a href="#" class="text-default font-weight-semibold">@item.Email</a>

                                </div>
                            </div>
                        </td>
                      


                        <td><span class="text-dark">@(item.CreatedOn.ToString("dd MMM, yyyy"))</span></td>


                        <td class="text-center">
                            <div class="list-icons">
                                <div class="dropdown">
                                    <a href="#" class="list-icons-item" data-toggle="dropdown">
                                        <i class="icon-menu9"></i>
                                    </a>

                                    <div class="dropdown-menu dropdown-menu-right">
                                       

                                        @{
                                            ListingDeleteButton pageDeleteButton = new ListingDeleteButton
                                            {
                                                EntityId = Model?.PageBasicInfoObj?.EntityId ?? 0,
                                                primaryKeyColumn = "SubscriptionId",
                                                primarykeyValue = item.SubscriptionId.ToString(),
                                                tableName = "Subscribers",
                                                SqlDeleteType = (short)SqlDeleteTypes.PlainTableDelete,
                                            };
                                        }
                                        @await Html.PartialAsync("~/Views/Common/_ListingDeleteButton.cshtml", pageDeleteButton)


                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td class="text-center" colspan="20"><b>  No record found </b></td>

                </tr>
            }
        }




    </tbody>
</table>



<div class="row" id="pagination_div">

    @{
        if (Model != null && Model.pageHelperObj != null)
        {
            PagerHelper ph = new PagerHelper();
            ph.CurrentPage = Model.pageHelperObj.CurrentPage;
            ph.TotalRecords = Model.pageHelperObj.TotalRecords;
            ph.RecordsPerPage = Model.pageHelperObj.RecordsPerPage;
            ph.EntityId = Model?.PageBasicInfoObj?.EntityId ?? 0;
            ph.PageUrl = Url.Action("SubcribersList", "Discounts", new { langCode = Model?.PageBasicInfoObj?.langCode });

            ph.AjaxEnabled = true;
            ph.OnClientClickAjaxCall = "PaginationAfterAjax(this)";

            @await Html.PartialAsync("~/Views/Common/_Pager.cshtml", ph)
        }

    }


</div>


