
  <!-- Hidden Button. This btn is associated with alerts for whole website. Warning: Do not remove or change this btn other wise alerts will not work in whole site -->
<button id="success-error-msg-hidden-btn" style="display: none;" data_msg_type="" data_msg_title="" data_msg_text=""></button>
  <!-- /Hidden Button -->
