@{
    ViewData["Title"] = "Login";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login | Admin Panel</title>


    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="~/content/themeContent/global_assets/css/icons/icomoon/styles.min.css" rel="stylesheet" />
    <link href="~/content/themeContent/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/content/themeContent/assets/css/bootstrap_limitless.min.css" rel="stylesheet" />
    <link href="~/content/themeContent/assets/css/layout.min.css" rel="stylesheet" />
    <link href="~/content/themeContent/assets/css/components.min.css" rel="stylesheet" />
    <link href="~/content/themeContent/assets/css/colors.min.css" rel="stylesheet" />
    <!-- /global stylesheets -->
    <!-- Core JS files -->
    <script src="~/content/themeContent/global_assets/js/main/jquery.min.js"></script>
    <script src="~/content/themeContent/global_assets/js/main/bootstrap.bundle.min.js"></script>
    <script src="~/content/themeContent/global_assets/js/plugins/loaders/blockui.min.js"></script>
    <!-- /core JS files -->
    <!-- Theme JS files -->
    <script src="~/content/themeContent/global_assets/js/plugins/forms/styling/switchery.min.js"></script>
    <script src="~/content/themeContent/global_assets/js/plugins/ui/prism.min.js"></script>
    <script src="~/content/themeContent/assets/js/app.js"></script>
    <script src="~/content/themeContent/global_assets/js/demo_pages/navbar_multiple.js"></script>
    <!-- /theme JS files -->
    <!--Login page changes-->
    <script src="~/content/themeContent/global_assets/js/plugins/forms/styling/uniform.min.js"></script>
    <script src="~/content/themeContent/global_assets/js/demo_pages/login.js"></script>

    <!--Notifications script-->
    <script src="~/content/themeContent/global_assets/js/plugins/notifications/pnotify.min.js"></script>
    <script src="~/content/themeContent/global_assets/js/demo_pages/extra_pnotify.js"></script>


     <!--Custom Own CSS-->
    <link href="~/css/site.css" rel="stylesheet" />
    <!--/Custom Own CSS-->


</head>

<body>

    <!-- Page content -->
    <div class="page-content login-cover">

        <!-- Main content -->
        <div class="content-wrapper">


            <!-- /content area -->
            <!-- Content area -->
            <div class="content d-flex justify-content-center align-items-center">

                <!-- Login form -->
                <form class="login-form" id="login-form" method="post" asp-area="" asp-controller="" asp-action="" enctype="multipart/form-data">
                    <div class="card mb-0">
                        <div class="card-body">

                            <div class="text-center mb-3">
                                <i class="icon-people icon-2x text-warning-400 border-warning-400 border-3 rounded-round p-3 mb-3 mt-1"></i>
                                <h5 class="mb-0">Login to your account</h5>
                                <span class="d-block text-muted">Your credentials</span>
                            </div>

                            <div class="form-group form-group-feedback form-group-feedback-left">
                                <input type="text" class="form-control" tabindex="1" value="" placeholder="Username or email" id="EmailAddress" name="EmailAddress" required>
                                <div class="form-control-feedback">
                                    <i class="icon-user text-muted"></i>
                                </div>
                            </div>

                            <div class="form-group form-group-feedback form-group-feedback-left">
                                <input type="password" class="form-control" tabindex="2" value="" placeholder="Password" id="Password" name="Password" required>
                                <div class="form-control-feedback">
                                    <i class="icon-lock2 text-muted"></i>
                                </div>
                            </div>
                            <div class="form-group d-flex align-items-center">
                                <div class="form-check mb-0">
                                    <label class="form-check-label">
                                        <input type="checkbox" name="remember" tabindex="3" class="form-input-styled" checked data-fouc>
                                        Remember
                                    </label>
                                </div>

                                <a href="@(Url.Action("PasswordRecovery" , "Authentication"))" class="ml-auto">Forgot password?</a>
                            </div>

                            <div class="form-group">
                                <button type="submit" onclick="LoginUser();" class="btn btn-primary btn-block">Sign in <i class="icon-circle-right2 ml-2"></i></button>
                            </div>


                            @*<div class="form-group text-center text-muted content-divider">
                                <span class="px-2">Don't have an account?</span>
                                </div>

                                <div class="form-group">
                                <a href="#" class="btn btn-dark btn-block">Sign up</a>
                                </div>*@

                            @* <span class="form-text text-center text-muted">By continuing, you're confirming that you've read our <a href="#">Terms &amp; Conditions</a> and <a href="#">Cookie Policy</a></span>
                            *@
                        </div>
                    </div>
                </form>
                <!-- /login form -->


            </div>
            <!-- /content area -->




        </div>
        <!-- /main content -->

    </div>
    <!-- /page content -->


    <!--Common Hidden Fields -->
    <partial name="~/Views/Common/_HiddenHtmlFields.cshtml" />
    <!-- /Hidden Fields -->

    <!--site js -->
    <script src="~/js/site.js" asp-append-version="true"></script>

    <!--jquery validation script -->
    <script src="~/js/jquery-validation-unobtrusive/jquery.validate.min.js"></script>
    <script src="~/js/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>




    <script>
         function LoginUser(){
             debugger
              $("#login-form").submit(function (e) {
                   e.preventDefault();
               });

               if (!$("#login-form").valid()) {
                   //  event.preventDefault();
                   return false;
               }


               let EmailAddress = $("#EmailAddress").val();
               let Password=$("#Password").val();


               if(!checkIfStringIsEmtpy(EmailAddress) || !checkIfStringIsEmtpy(Password)){
                   showSuccessErrorMsg("error", "Error", "Please fill email and password fields.");
                   return false;
               }


                //--make form data
                var formDate = {
                    EmailAddress: EmailAddress,
                    Password: Password

                }

                let loginURL = "@Url.Action("LoginJsonUser", "Authentication")";
                 $.ajax({
                       type: "POST",
                       url: loginURL,
                       data: formDate,
                       // datatype: "json",
                       cache: false,
                       async: false,

                       success: function (data) {
                            console.log(data);
                            if (data.success) {
                             showSuccessErrorMsg("success", "Success", "Login Successfully!");
                            setTimeout(function () {
                                location.href = "@Url.Action("Index", "Home")";

                            }, 500);
                            } else {

                            showSuccessErrorMsg("error", "Error", data.message ?? "An error occured. Please try again!");

                            }

                       },
                       error: function (xhr, ajaxOptions, thrownError) {
                         showSuccessErrorMsg("error", "Error", "An error occured. Please try again!");
                       }
                   })

        }
    </script>


</body>
</html>
